.container {
  max-width: 83.333vw;
  margin: 0 auto;
  border: 1px solid #b0b0b0;
  border-radius: 10px;
  padding: 1.333vw;
  background-color: #050532;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .title {
    font-size: 2.083vw;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;

    .info {
      display: flex;
      flex-direction: column;

      .company {
        font-size: 1.389vw;
        color: #fff;
        display: flex;
        align-items: center;
        gap: 10px;

        .logo {
          border-radius: 50%;
          object-fit: cover;
          /* border: 2px solid #fff; */
          width: clamp(40px, 2.778vw, 60px);
          height: clamp(40px, 2.778vw, 60px);
        }
      }
      .role {
        font-size: 1.042vw;
        color: #cca362;
      }
    }

    span {
      color: #cca362;
      font-size: 4.167vw;
      font-weight: 900;
      font-family: cursive;
    }
  }

  .date {
    padding-right: 10px;
    font-size: 1.389vw;
    color: #cca362;
  }
}
.body {
  font-size: 1.111vw;
  color: #fff;
  line-height: 1.6;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  span {
    color: #cca362;
    font-weight: 600;
    font-size: 1.25vw;
  }

  .arrow {
    width: 5.556vw;
    height: 5.556vw;
    padding-right: 10px;
  }
  .arrow:hover {
    cursor: pointer;
    transform: scale(1.5);
    transition: transform 0.2s ease-in-out;
  }
}

.reverce {
  .header {
    flex-direction: row-reverse;
    .title {
      flex-direction: row-reverse;
    }
  }

  .body {
    flex-direction: row-reverse;
  }
}
